<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スケジュール</title>
</head>
<body>
    <form class="inputForm" action="" method="post" novalidate>
        日付：<input type="text" name="date"><%= schedule[0].date %><br>
        タイトル：<input type="text" name="title"><br>
        記入者：<input type="text" name="username"><br>
        内容：<input type="text" name="content">
        <p><input type="submit" value="送信"></p>
    </form>
</body>
</html>
