@charset "utf-8";

#calender {
  padding: 1rem;
}
table {
  width: 100%;
}
td {
  background-color: #dd3;
  width: calc(100% / 7);
}
.days td {
  background-color: #dda;
}
.schTitle {
  cursor: pointer;
  color: #0ab;
  font-weight: bold;
}
